	<section id="login_main">
		<div class="container">
		    <div class="row">
    		    <div id="formlogin" class="col-sm-7">
                  <%= form_for @profile do |f| %>
                      <% if @profile.new_record? %>
                      <div class ="form-group">
                          <%= f.label :firstname, {:class => 'control-label col-sm-3' } %>
                          <%= f.text_field :firstname, {:class => 'col-sm-9'} %>
                      </div>
                      <div class ="form-group">
                          <%= f.label :lastname, {:class => 'control-label col-sm-3' } %>
                          <%= f.text_field :lastname, {:class => 'col-sm-9'} %>
                      </div>
                      <% end %>
                      <div class="form-group">
                          <%= f.label :email, {:class => 'control-label col-sm-3' } %>
                          <%= f.text_field :email, {:class => 'col-sm-9'} %>
                      </div>
                      <div class="form-group">
                          <%= f.label :password, class: 'control-label col-sm-3' %>
                          <%= f.password_field :password, class: 'col-sm-9' %>
                      </div>
                      <div class ="form-group">
                          <%= f.label :password_confirm, {:class => 'control-label col-sm-3' } %>
                          <%= f.password_field :password_confirm, {:class => 'col-sm-9'} %>
                      </div>
                      <%= f.submit(@profile.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success") %>

                </div>
            </div><!-- end row -->
        </div><!-- container -->
    </section>
  <%= link_to 'Back', profiles_path %>
            <!--
            <div class="col-sm-1">
                <img class="img-responsive" src="assets/vline.png" height="300%"/>
            </div>
    		    <div form="formregister" class="col-sm-6">
               
            </div> -->

